server {
        listen 80 default_server;
        server_name helm.test.cody;

        location / {
            proxy_pass http://${FRONTEND_HOST}:${FRONTEND_PORT};
        }

        location /api {
            proxy_pass http://${BACKEND_HOST}:${BACKEND_PORT};
        }
}